{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="itf-8">
    {% csrf_token %}
    <title>送信完了</title>
    <link rel="stylesheet" href="{% static 'port1/css/style.css' %}" />
    <body>
        <div class="order_ok">
            <h2>ログイン完了！</h2>
            <p><a class="nav-link">ユーザ名：{{ user.get_username }}</a></p>
            <P>このようにDjangoではログイン機能も備わっております</P>
            <p><a  href="{% url 'logout' %}">ログアウト</p>
            
        </div>

    </body>



</head>
</html>
